<<<<<<< HEAD
#wrapper
  #container
    = form_tag '/', :remote => true do 
      = text_field_tag 'url', '', :id =>'url', :placeholder => 'Enter URL'
      = number_field_tag 'depth', '', :id => 'depth', :placeholder => '1'
      #submit= submit_tag 'The Matrix!', :class => 'submit'

  #images 
=======
#container
  = form_tag '/', :remote => true do
    = text_field_tag 'url', 'http://www.zahrajabini.com', :id =>'url', :placeholder => 'Enter URL'
    = number_field_tag 'depth', '', :id => 'depth', :placeholder => '1'
    #submit= submit_tag 'The Matrix!', :class => 'submit'

#images
>>>>>>> 220b520a042d9862e47cbe121baf01c1b1c4b657
